@import "../../../Assets/Colors/Colors.scss";
@import "../../../Assets/Fonts/Fonts.scss";

body {
  /*   background-image: url("../../../Assets/Images/jpg/tapiz-la.jpg");
 */
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: 6rem;
  width: 100%;
}

.squad {
  &__hero {
    height: 7rem;
    width: 100%;
    background-color: $gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      color: $purple;
      font-size: 2.5rem;
      font-family: $alfa;
      font-weight: 200;
      text-shadow: -5px 4px 2px white;
    }
  }
  &__blur {
    box-shadow: 0 0 8px 8px $gold;
  }

  &__grid {
    padding: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-family: $roboto;

    .item{
      justify-self: center;
    }

    &__title {
      width: 100%;
      height: 3rem;
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      justify-content: flex-start;
      color: $gold;

      &__number {
        width: 3rem;
        height: 100%;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size: 1.5rem;
        color: white;
      }
      &__name {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        p {
          color: white;
          font-size: 1.5rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    }

    &__item {
      height: 22rem;
      width: 18rem;
      justify-self: center;
      align-self: center;
      cursor: pointer;

      &:hover {
        .squad__grid__item__overlay {
          opacity: 1;
        }
      }

      &__overlay {
        width: 100%;
        height: 100%;
        align-items: flex-end;
        opacity: 0;
        background: rgba(95, 95, 95, 0.726);
        color: #fef5df;
        transition: all 0.5s ease-in-out;

        &__desc {
          width: 100%;
          padding-top: 9rem;
          display: flex;
          flex-direction: column;

          &__row {
            display: flex;
            width: 100%;
            height: 2rem;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            h4 {
              margin-left: 1.5rem;
              margin-right: 1.5rem;
              height: 10px;
              font-size: 0.8rem;
            }
          }
          hr {
            width: 100%;
          }
        }
      }
    }
  }
}
