@import "../../Assets/Colors/Colors.scss";
@import "../../Assets/Fonts/Fonts.scss";

.shop {
  width: 100%;
  background-image: url("../../Assets/Images/jpg/hero2.jpg");
  background-size: cover;
  h3 {
    padding-top: 2rem;
    text-align: center;
    color: white;
    font-family: $alfa;
    text-shadow: 0 0 10px #000;
    font-weight: 100;
    font-size: 1.2rem;
  }

  .carousel-root {
    padding: 2rem 1rem 0.5rem 1rem;
  }
  .carousel .slide {
    background: none;
  }
}
