@import "../../Assets/Colors/Colors.scss";

.iconCheckout {
  color: white;
  text-align: center;
  position: fixed;
  height: 2rem;
  width: 2rem;
  background-color: orange;
  border-radius: 999px;
  padding: 0.1rem;
  bottom: 0;
  right: 0;
  margin-bottom: 3.5rem;
  margin-right: 1rem;
  border: 2px solid black;
  z-index: 2;
  &__link {
    text-decoration: none;
    color: $purple;
  }
}
