@import "../../Assets/Colors/Colors.scss";
@import "../../Assets/Fonts/Fonts.scss";

.shopItem {
  width: 12rem;
  height: 23rem;
  background-color: rgb(253, 253, 253);
  border: 5px solid $purple;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: center;
  justify-self: center;

  &__img {
    img {
      width: 12rem;
      height: 15rem;
    }
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $roboto;

    h3 {
      font-size: 1.2rem;
      width: 10rem;
    }
    h4 {
      color: $purple;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    background: transparent;
    transition: 1s ease-in-out all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 189, 4, 0.521);
    width: 12rem;
    height: 23rem;
    &:hover {
      opacity: 1;
      display: visible;
    }

    button {
      width: 10rem;
      height: 3rem;
      margin-bottom: 1rem;
      background-color: $gold;
      font-size: 1rem;
      outline: none;
      font-family: $alfa;
      padding: 0.5rem;
      border: 5px solid $purple;
      border-radius: 20px;
      cursor: pointer;
      color: $purple;
      transition: 0.4s ease-in-out all;

      &:hover {
        color: white;
      }
    }
  }
}
